 :root{
    --green-color:#7ACC2D;
    --white-color:white;
    --black-color:#313337;

/* Espaciado */
    --space:10px;

/* Tipografias */
    --normal:12px;

/* Box Shadow */
--box:0 0 5px 5px #e6e5e9;

    /*------------- variables */
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?v9yto');
  src:  url('../fonts/icomoon.eot?v9yto#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?v9yto') format('truetype'),
    url('../fonts/icomoon.woff?v9yto') format('woff'),
    url('../fonts/icomoon.svg?v9yto#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.menu{
  display: none;
}

.icon-menu:before {
  content: "\e9bd";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-github:before {
  content: "\eab0";
}
.icon-linkedin:before {
  content: "\eac9";
}


body{
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

/*Empieza menu de navegacion para moviles*/
.burger-button{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color:var(--green-color);
  line-height: 50px;
  text-align: center;
  position:fixed;
  display: none;
  right: 5px;
  top: 5px;
  color:var(--black-color);
  z-index: 4;
  font-size: 30px;
}


/*Acaba menu de navegacion para moviles*/
/*Desarrollo del web site*/
.header{
  background-color: var(--green-color);
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Open sans', sans-serif;
  color: var(--black-color);
}
.header h1{
  font-size: 22px;
}
.menu-laptop{
  width: 250px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-right: 20px;
}
.menu-laptop a{
  color: var(--black-color);
  text-decoration: none;
  font-size: 16px;
}
.menu-laptop a:hover{
  color: var(--white-color);
}


.profesionDescription{
  width: 100%;
  text-align: center;
  background-color:cyan;
  height: 20px;
}
.profesionDescription p{
  line-height: 20px;
}

/* Seccion de presentacion personal */
.presentation-container{
  background-color: #f2f2f2;
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
}
.presentation{
  width: 900px;
  box-shadow: 6px 6px 10px gray;
  margin: auto;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.presentation p{
  color: var(--black-color);
  width: 500px;
  margin: 0 20px;
  font-size: 22px;
}
.presentation span{
  color: #0791e6;
  font-weight: 600;
}
.foto-perfil{
  width: 300px;
  box-shadow: 5px 5px 10px gray;
  border-radius: 10px;
}
/* Finaliza seccion de presentacion personal */

.trabajos{
  width: 100%;
}
.trabajos h2{
  margin: 15px 0 0 35px;
  color: var(--green-color);
}
.trabajos-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  box-sizing: border-box;
}
.trabajo{
  width: 300px;
  text-align: center;
  margin: 20px 0;
  font-family: 'Roboto',sans-serif;

}
.trabajo p{
  text-transform: capitalize;
  font-size: 18px;
}
.trabajo img{
  width: 100%;
  height: 180px;
  object-fit: cover;
}
.trabajo a{
  display: block;
  color: #0791e6;
  text-decoration: none;
  margin-top: 5px;
  font-family:'Open-sans',sans-serif;
}

/* Seccion Clones */
.clones{
  width: 100%;
  background-color:#0791e6;
  margin: auto;
  padding: 20px;
}
.clones h2{
  color: var(--white-color);
}
.clones-container{
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: space-around;
  margin: auto;
}
.clon{
 display: flex;
 flex-direction: column;
 align-items: center;

}
.clon img{
  width: 300px;
  height: 250px;
  border-radius: 100%;
}
.clones p{
  margin:5px 0;
  color: var(--black-color);
  font-size: 18px;
}
.clones a{
  display: block;
  color: var(--white-color);
  text-decoration: none;
  font-family:'Open-sans',sans-serif;
}
.clones a:hover{
  color:yellow;
  text-decoration: underline;
}
/* Finaliza seccion clones */

/* footer */
.footer{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--black-color);
  color: var(--white-color);
  padding: 20px;
}
.footer a{
  color:white;
  text-decoration: none;
}
.footer .derechos{
  margin-left: 50px;
}
.footer .redes_sociales{
  box-sizing: border-box;
  width: 500px;
  text-align: center;
}
.footer .redes_sociales a{
  font-size: 35px;
  padding: 15px;
  border-radius: 10px;
  display: inline-block;
  box-sizing: border-box;
  
}

.icon-linkedin:hover{
  background-color: #0077b5;
}
.icon-github:hover{
  background-color: #4078c0;
}
.icon-facebook:hover{
  background-color: #3b5998;
}
.icon-twitter:hover{
  background-color: #1da1f2;
}
.icon-instagram:hover{
  background-color: #405de6;
}

/* Finaliza footer */

@media screen and (max-width: 767px) {

  /* Menu de celulares y tablet */
  .burger-button{
    display:block;
  }
  .menu-laptop{
    display: none;
  }
  .menu{
    position:fixed;
    background-color: var(--green-color);
    right: -100%;
    top: 0;
    z-index: 3;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    opacity: .9;
    transition-duration: .3s;
  }
  .menu.is-active{  /* Este selector indica que cuando el elemento tenga las dos clases.*/
    right: 0;
  }
  .menu ul{
    display: flex;
    width: 100%;
    height: 50%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
  }
  .menu ul li{
    padding: 20px;
    box-sizing: border-box;
  }
  .menu ul li a{
    color : var(--black-color);
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
  }
  .menu ul li a:hover{
    color:var(--white-color)
  }
  /* Finaliacion del menu de navegacion para moviles */
}